.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}

.triangle_container {
  width: 100%;
  height: 37px;
  overflow: hidden;
}

.triangle_body {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 3px;
  background-color: #bbdefb;
  transform: rotate(45deg)
}

.triangle_up {
  top: 9px;
  left: 10px;
}

.triangle_down {
  top: -22px;
  left: 10px;
}

.triangle_up:hover, .triangle_down:hover {
  background-color: #64b5f6;
}

.value {
  font-family: Arial, Helvetica, sans-serif;
  color: #bbdefb;
  font-weight: bold;
  font-size: calc(12.6rem - 170px);
}